root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{js,ts,jsx,tsx,json}]
indent_size = 2
indent_style = space
max_line_length = 120

[{.eslintrc,.prettierrc}]
indent_style = space
indent_size = 2
